*{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(to right top, #eb5bf0, #9f93ff, #1fb7ff, #00d0ff, #1be1ff);
}


.main {
  margin-top: 10px;
}


.container{
  padding-left: 25%;
  position: absolute;
  width: 900px;
  margin: 20 auto;
}

.grid {
  margin: 20px;
  position: relative;
  width: 33.33%;
  float: left;
  height: 200px;
  color: #fff;
}

.aframebox {
  background-color: #fff;
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  border-color: #272727;
  height: 200px;
  width: 200px;
}
